<!DOCTYPE html>
<html layout:decorator="layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Home</title>
</head>
<body>
<div layout:fragment="content">
    <p>
        Welcome <span sec:authentication="principal.username">User</span>
    </p>
    <p>
        <a th:href="@{/logout}">Logout</a>
    </p>
    <div>
        <p>
            <span sec:authentication="principal.authorities"> ROLE</span>
        </p>
    </div>

    <div sec:authorize='hasAuthority("EMPLOYEE")'>This content is only shown
        to employee and above.§§</div>

</div>
</body>
</html>